html {
    font-family: "Lato", sans-serif;
    text-indent: 5px;
  }

.gridOne {
    display: grid;
    border: solid 1px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: lightgrey;
    padding-top: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gridOne a {
    color: blue;
}

.gridTwo {
    display: grid;
    border: solid 1px;
    grid-template-columns: 1fr 1fr 2fr;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gridTwo-1 {
    background-color: red;
}

.gridTwo-2 {
    background-color: blue;
}

.gridTwo-3 {
    background-color: yellow;
}

.gridThree {
    display: grid;
    grid-auto-rows: 1fr 3fr;
    border: solid 1px;
    background-color: lightgrey;
    width: 500px;
    height: 300px;
}

.gridThree-img img {
    display: grid;
    object-fit: cover;
    width: 500px;
    height:225px;
}

.gridFour {
    display: grid;
    border: solid 1px;
    background-color: green;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
}

#gridFour-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridFive {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: solid 1px;
    background-color: lightgrey;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gridFive img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-inline: 5px;
}

.gridSix {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: solid 1px;
    background-color: lightgrey;
    margin-bottom: 50px;
    font-family: 'Mystery Quest', system-ui;
    padding-top: 10px;
    width: 500px;
}

.license {
    display: grid;
    grid-template-columns: 0fr 1fr;
    margin-left: 15px;
}